@use '../../../styles/partials/global';
@use '../../../styles/partials/mixins';
@use '../../../styles/partials/variables';

.side-notes {
    margin: 1rem;

    &__header {
        display: flex;
        border-bottom: 1px solid variables.$Orange-Accent;

        @include mixins.tablet {
            border: none;
        }
    }

    &__add {
        color: variables.$White;
        font-weight: 600;
        background-color: rgba($color: variables.$Main-Blue, $alpha: 0.7);
        border-radius: 50px;
        width: 30px;
        height: 30px;
        margin: 1.3rem 0.7rem 0.6rem 0.5rem;
        flex-shrink: 0;

        &:hover {
            background-color: transparent;
            border: 2px solid variables.$Orange-Accent;
            color: variables.$Orange-Accent;
        }
       
    }

    &__notes {
        border-left: 1px solid variables.$Orange-Accent;
        padding-right: 0.5rem;
        margin-top: 0.5rem;
        display: flex;
        overflow-x: auto;

        @include mixins.tablet {
            display: block;
            max-height: 45rem;
            padding-right: 0;
            border: none;
            width: 15.625rem;
            
        }
    }

    &__note {
        margin-left: 1rem;
        padding:  0.1rem 0.3rem;
        color: variables.$Light-Grey;
        background-color: transparent;
        border-radius: 5px;
        flex-shrink: 0;
        margin-bottom: 0.5rem;
        border: 2px solid rgba($color: variables.$Light-Grey, $alpha: 0.6);

        @include mixins.tablet {
            min-height: 3rem;
            margin: 0.5rem 1rem;
        }

        &--active {
            color: variables.$Dark-Orange;
            border: 2px solid variables.$Orange-Accent;
        }
        
    }

    &__title {
        display: flex;
        justify-content: space-between;
        
    }

    &__label {
        margin: 0;
        font-size: 0.8rem;
        padding-top: 0.2rem;
    }

    &__delete {
        font-weight: 600;
        color: variables.$Delete;
        background-color: transparent;
        margin-bottom: 0.1rem;
    }

    &__time {
        margin: 0;
        font-size: 0.6rem;
        font-weight: 600;
    }

    &__preview {
        margin: 0;
        font-size: 0.7rem;
        padding-bottom: 0.2rem;
    }
}