
$Main-Blue: #2D8CF0;
$White: #ffffff;
$Orange-Accent: #E08D40;
$Dark-Blue: #1a54c3;
$Delete: #D23E15;
$Light-Grey: #C4D6F1 ;
$Dark-Orange: #CA811A;
$Grey: #9b9b9b;
$Side-Note-Grey: #f2f2f2;
$Dark-Grey: #898A8A;
$Dark-Mode: #4C4E4E;
$Day-Mode: #F3F7F7;
