//primary colors
$Main-Blue: #2D8CF0;
$White: #ffffff;
$Orange-Accent: #E08D40;
$Dark-Blue: #1a54c3;
$Light-Grey: #C4D6F1;
$Grey: #9b9b9b;
$Dark-Grey: #898A8A;

//secondary colors
$Delete: #D23E15;
$Dark-Orange: #CA811A;
$Side-Note-Grey: #f2f2f2;
$Toggle-Yellow: #FFBC00;
$Dark-Mode: #4C4E4E;
$Day-Mode: #F3F7F7;