@use '../../../styles/partials/global';
@use '../../../styles/partials/variables';
@use '../../../styles/partials/mixins';

.todo {
    text-align: center;
    background-color: rgba(45, 140, 240, 0.3);
    padding-top: 2rem;
    border: 4px solid variables.$Dark_Blue;
    border-radius: 10px;
    width: 88%;
    min-height: calc(100vh - 20rem);
    display: block;
    margin: 2rem auto;

    @include mixins.tablet {
        width: 90%;
    }

    @include mixins.desktop {
        width: 96%;
    }
    

    &__header {
        background-color: variables.$White;
        padding: 1rem;
        border: 4px solid variables.$Dark_Blue;
        border-radius: 10px;
        margin: 0 2rem 1rem;
        display: flex;
        justify-content: center;
 
    }

    &__title {
        color: variables.$Dark_Blue;
        margin: 1rem;
        font-size: 2rem;

    }

    &__add {
        margin: 1rem;
        margin-left: 0;
        border-radius: 10px;
        border: 2px solid variables.$Dark_Blue;
        background-color: transparent;
        color: variables.$Dark_Blue;
        font-weight: 600;

        &:hover {
            color: variables.$Orange-Accent;
            border-color: variables.$Orange-Accent;
        }

    }

    &__container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;

    }

}