@use '../styles/partials/global';
@use '../styles/partials/mixins';
@use '../styles/partials/variables';

button {
    border: none;
}

.home {
    opacity: 75%;
    background-position: center;
    background-size: cover;
    justify-content: space-evenly;
    border-radius: 20px;
    padding: 3rem 2rem;
    margin: 1.5rem 1rem 1rem;  
    border: 3px solid variables.$Main-Blue;
    box-shadow: rgba(0, 0, 0, 0.10) 0px 54px 55px, rgba(0, 0, 0, 0.02) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    min-height: 28rem;

    @include mixins.tablet {
        display: block;
        margin: 1.5rem 2rem;
        min-height: 25rem;
    }

    @include mixins.desktop {
        margin-bottom: 5rem;
        min-height: 50rem;
    }
    
    &__logo {
        max-width: 55%;
        border-radius: 50%;
        display: block;
        margin: auto;
        border-top: 6px solid variables.$White;
        border-left: 6px solid variables.$White;

        &:hover {
            transform: scale(1.05);
        }

        @include mixins.tablet {
            min-width: 48%;
            margin-bottom: 3.5rem;
        }

        @include mixins.desktop {
            min-width: 55%;
            margin-bottom: 5rem;
        }
    }

    &__menu {
        padding-top: 2rem;

        @include mixins.tablet {
            display: flex;
            justify-content: space-evenly;
        }

        &--option { 
            display: block;
            margin: 1.5rem auto 0;
            min-width: 13rem;
            min-height: 40px;
            border-radius: 20px;
            background-color: white;
            text-align: center;
            color: variables.$Main-Blue;
            font-size: 1rem;
            text-transform: uppercase;
            border: 3px solid variables.$Main-Blue;
            font-family:'Courier New', Courier, monospace;
            font-weight: 600;
            box-shadow: rgba(0, 0, 0, 0.55) 1.95px 2.95px 2.6px;
            letter-spacing: 3px;

            @include mixins.tablet {
                min-width: 18rem;
                min-height: 50px;
                margin: 0 0 2rem;
                font-size: 2rem;
                letter-spacing: 5px;
            }

            @include mixins.desktop {
                min-width: 30rem;
                min-height: 60px;
                font-size: 2.5rem;
                letter-spacing: 7px;
            }

            &:hover {
                border: 3px solid variables.$Orange-Accent;
                color: variables.$Orange-Accent;
                transform: scale(1.1);
                font-weight: 600;

                @include mixins.tablet {
                    border: 4px solid variables.$Orange-Accent;
                }

                @include mixins.desktop {
                    border: 5px solid variables.$Orange-Accent;
                } 
            }
        }
    }

    &__images {
        width: 100px;
        height: 100px;
    }

    &__custom {
        background: none;
        display: block;
        margin: auto;

        @include mixins.tablet {
            margin-bottom: 2rem;
        }
    }
}