@use '../styles/partials/global';
@use '../styles/partials/mixins';
@use '../styles/partials/variables';


button {
    border: none;
}

.home {
    background-color: variables.$Main-Blue;
    // display: flex;
    justify-content: space-evenly;
    border-radius: 20px;
    padding: 3rem 2rem;
    margin: 1.5rem 1rem 1rem;

    @include mixins.tablet {
        display: block;
    }

    @include mixins.desktop {
        margin-bottom: 5rem;
    
    }
    

    &__logo {
        max-width: 50%;
        border-radius: 50%;
        display: block;
        margin: auto;

        @include mixins.tablet {
            max-width: 20%;
            padding-bottom: 3rem;

        }
    }

    &__menu {
        @include mixins.tablet {
            display: flex;
            justify-content: space-evenly;
        }

        @include mixins.desktop {

        }

        &--option { 
            display: block;
            margin: auto;
            min-width: 15rem;
            min-height: 40px;
            border-radius: 20px;
            background-color: variables.$White;
            text-align: center;
            color: variables.$Main-Blue;
            font-size: 1.5rem;
            margin-top: 1rem;

            @include mixins.tablet {
                min-width: 20rem;
                min-height: 40px;
                margin: 0 0 2rem;
                font-size: 2rem;
            }

            @include mixins.desktop {
                min-width: 30rem;
                min-height: 60px;
                font-size: 2.5rem;
            }

            &:hover {
                border: 2px solid variables.$Orange-Accent;
                transform: scale(1.1);
                font-weight: 600;

                @include mixins.tablet {
                    border: 4px solid variables.$Orange-Accent;
                }

                @include mixins.desktop {
                    border: 5px solid variables.$Orange-Accent;
                }
                
            }
        }
    }
}