@use '../../../styles/partials/global';
@use '../../../styles/partials/mixins';
@use '../../../styles/partials/variables';

.card {
    

    &__container {
        margin: 1rem;
        width: 40%;
        height: 10rem;
        background-color: yellow;
        border: 2px solid blue;
    }

    &__button {
        cursor: pointer;
    }

}