@use '../../styles/partials/global';
@use '../../styles/partials/mixins';
@use '../../styles/partials/variables';

a {
    text-decoration: none;
}

.header {
    padding: 0 0.8rem 0.5rem;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    border-radius: 15px;
    border: 2px solid variables.$Main-Blue;
    margin: 1rem 1rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;

    
    @include mixins.tablet {
        padding: 0 1.5rem 0.5rem;
        margin: 1rem 2rem;
    }

    @include mixins.desktop {
        padding: 0 2.5rem 0.5rem;
    }


    &__logo {
        margin-top: 0.8rem;
        width: 18px;

        @include mixins.tablet {
            width: 20px;
        }

        @include mixins.desktop {
            width: 25px;
        }

        &--link {
            margin-top: 0.6rem;
            font-size: 1rem;
            color: variables.$Main-Blue;
            padding: 0.5rem;
            font-size: 0.8rem;
            background-color: transparent;
            border-radius: 10px;

            @include mixins.tablet {
                font-size: 1rem;
            }

            @include mixins.desktop {
                font-size: 1.2rem;
            }

            &:hover {
                background-color: variables.$Main-Blue;
                color: variables.$White;
                padding: 0.5rem;
                
            }
        }
        
        &--active {
            background-color: transparent;
            border-radius: 1rem;
            padding: 0.5rem;
            color: variables.$Orange-Accent;

        }

    }
    
    &__nav {
        display: flex;
        font-weight: 600;
        
    }

    &__toggle {
        border-top: 1px solid variables.$Light-Grey;
        margin: 0 2rem;

        &--dark {
            color: variables.$Light-Grey;
            font-family:Verdana, Geneva, Tahoma, sans-serif;
            background-color: transparent;
            
            &:hover {
                color: variables.$Orange-Accent;
            }
        }
    }




}