@use '../../styles/partials/global';
@use '../../styles/partials/mixins';
@use '../../styles/partials/variables';

.notes {
    border: 5px solid variables.$Main-Blue;
    opacity: 40%;
    border-radius: 7%;
    margin: 2rem 1rem 1rem;

}