@use '../../styles/partials/global';
@use '../../styles/partials/mixins';
@use '../../styles/partials/variables';

.notes {
    border: 5px solid variables.$Orange-Accent;
    min-height: 35rem;
    border-radius: 20px;
    margin: 2rem 2rem 1rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;


    &__container {
        @include mixins.tablet {
            display: flex;
            justify-content: start;
        }
    }

    &__main {
        @include mixins.tablet {
            width: 100%;
        }
    }

}