@use './styles/partials/global';
@use './styles/partials/mixins';
@use './styles/partials/variables';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.day {
  background-color: variables.$Day-Mode;
  min-height: 100vh;
  padding-top: 1rem;
}

.dark-mode {
  background-color: variables.$Dark-Mode;
  min-height: 100vh;
  padding-top: 1rem;
}
